img { width: 300px;
height: 400px; 
border:10px solid magenta;
}

h1 {
    font-family:'Mali';
    display: flex;
    justify-content: center;
    }
body {
    background-image:url(https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg?auto=compress&cs=tinysrgb&h=350);
    color:white;
    }
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    }
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    }
.face{
    display: block;
    margin: 0 auto;
}

  
